# Env / Credentials
.env
.env.local
.env.*
credentials_PRIVATE.txt

# Logs
*.log
catalyst-debug.log

# Build / Output
.build/
.next/
dist/
build/
out/
coverage/

# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# Misc
*.zip
crime-database/raw-data/
dist-slate/
.open-next/
